body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.container {
  border: 6px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fffbf5;
}

#display {
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  font-size: 48px;
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

button {
  font-size: 40px;
  padding: 16px;
  width: 80px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  filter: brightness(95%);
}

.big-button {
  flex: 2;
}

.big-button button {
  width: 100%;
}

.advanced {
  background-color: #d0f5be;
  border-color: #d0f5be;
}

.basic {
  background-color: #faef5d;
  border-color: #faef5d;
}

.active {
  color: white;
  font-weight: bold;
  background-color: #ff004d;
  border-color: #ff004d;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
